body.a11y-modal-open {
  overflow: hidden;
}

.a11y-modal {
  align-items: center;
  bottom: 0;
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;

  &[aria-hidden="false"] {
    display: flex;
  }
}
